<div class="hero-comments">
    <mat-card>
        <cdk-virtual-scroll-viewport appendOnly itemSize="50" class="example-viewport">
            <div class="example-item">post 1</div>
            <div class="example-item">post 2</div>
            <div class="example-item">post 3</div>
            <div class="example-item">post 4</div>
            <div class="example-item">post 5</div>
            <div class="example-item">post 6</div>
            <div class="example-item">post 7</div>
            <div class="example-item">post 8</div>
            <div class="example-item">post 9</div>
            <div class="example-item">post 10</div>
            <div class="example-item">post 11</div>
            <div class="example-item">post 12</div>
            <div class="example-item">post 13</div>
            <div class="example-item">post 14</div>
            <div class="example-item">post 15</div>
        </cdk-virtual-scroll-viewport>
    </mat-card>
</div>