.mat-drawer-container {
    height: -webkit-calc(100% - 60px);
    
}

.write-input {
    position: absolute;
    bottom: 20px;
    left: 24px;
    right: 24px;
}

.posting-container {
    position: absolute;
    left: 24px;
    right: 24px;
}

.example-sidenav-content {
    padding-left: 24px;
}